@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "OpenSans-SemiBold";
    src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: "OpenSans-Bold";
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: "Raleway-Light";
    src: url(../fonts/Raleway-Light.ttf);
}
body, html {
    width: 100%;
    height: 100vh;
}
.main-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    width: 100%;
    height: auto;
    background-color: #ffffff;
}
.header, .footer, .section__modern, .social-media {
    background-color: #000000;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
.header {
    height: 4.375rem;
}
.footer {
    height: 5rem;
}
.center-part {
    width: 71rem;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}
.center-part_space-between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.center-part_column {
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
}
.center-part_row {
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
.center-part_center {
    -webkit-justify-content: center;
    justify-content: center;
}
.center-part_vertical-center{
    -webkit-align-content: center;
    align-content: center;
}
.header__logo{
    position: relative;
}
.header__logo__img{
    position: absolute;
    top: 30%;
}
.header__menu {
    width: 29.375rem;
    margin-right: 12px;
    display: -webkit-inline-flex;
    display: inline-flex;
}
.header__menu__item {
    width: 5.875rem;
    text-align: center;
}
.header__menu__item__link {
    color: #FFFFFF;
    line-height: 4.375rem;
    font-size: 0.875rem;
    font-family: OpenSans, sans-serif;
    text-decoration: none;
    display: block;
}
.header__menu__item__link:hover{
    color: #FFFFFF;
    opacity: 0.7;
    text-decoration: none;
}
.humburger {
    display: none;
    position: absolute;
    right: 2%;
    top: 1%;
    line-height: 1.6875rem;
}
.footer__social {
    display: -webkit-inline-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 0.94rem;
    height: 1.875rem;
}
.footer__social__item{
    margin: 0.19rem 0.94rem;
}
.footer__social__item__link {
    color: #CCCCCC;
    font-size: 1.5rem;
    text-decoration: none;
}
.footer__social__item__link:hover{
    color: #FFFFFF;
}
.address {
    text-align: center;
    margin-top: 0.3rem;
}
.address__link {
    text-decoration: none;
    color: #cccccc;
    font-size: 0.75rem;
    font-family: OpenSans, sans-serif;
}
.section__modern{
    height: 40rem;
    background: #000000 url(../img/image.png) center center no-repeat;
    background-size: auto;
}
.modern__left-part, .modern__right-part {
    width: 50%;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
}
.modern__left-part__logo {
    margin-top: 6.875rem;
}
.modern__left-part__title {
    margin-top: 2.188rem;
    margin-bottom: 2.5rem;
}
.modern__left-part__title__h1{
    color: #FFFFFF;
    font-family: Raleway, sans-serif;
    font-size: 2.25rem;
    text-transform: uppercase;
    line-height: 2.5rem;
}
.modern__left-part__divider, .sub-list__divider{
    height: 0.125rem;
    width: 4rem;
    background-color: #FFFFFF;
}
.modern__left-part__text{
    margin-top: 2.5rem;
    margin-bottom: 2.81rem;
}
.modern__left-part__text__p{
    color: #FFFFFF;
    font-family: Raleway-Light, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}
.modern__left-part__download__button{
    border: #FFFFFF solid 0.125rem;
    width: 8.4375rem;
    height: 2.5rem;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.9375rem;
    font-family: OpenSans, sans-serif;
    padding: 0.9375rem 2.0625rem;
}
.modern__left-part__download__button:hover{
    border-color: #C2C2C2;
    background-color: #FFFFFF;
    opacity: 0.8;
    color: rgba(110, 110, 110, 0.94);
}
.modern__right-part{
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.modern__right-part__form-window, .try-it__form-window{
    width: 22.5rem;
    height: 22.625rem;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-right: 2rem;
    margin-top: 25%;
}
.try-it__form-window {
    margin-top: 0.5rem;
    margin-right: 0;
    -webkit-box-shadow: 0px 0px 24px -7px rgba(183,183,183,1);
    -moz-box-shadow: 0px 0px 24px -7px rgba(183,183,183,1);
    box-shadow: 0px 0px 24px -7px rgba(183,183,183,1);
    width: 100%;
}
.modern__right-part__form-window__caption, .try-it__form-window__caption{
    height: 3.375rem;
    background-color: #F5F5F5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}
.modern__right-part__form-window__caption__title, .try-it__form-window__caption__title {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 1.25rem;
    line-height: 3.375rem;
}
.caption--orange-color {
    color: #FF8B38;
}
.caption--text-upper {
    text-transform: uppercase;
}
.modern__right-part__form-window__body, .try-it__form-window__body{
    height: 15.8125rem;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    padding: 1rem 0;
}
.field__input {
    width: 17.75rem;
    height: 1.875rem;
    font-family: OpenSans, sans-serif;
    font-size: 0.875rem;
    padding-left: 0.75rem;
    border-bottom-color: #F6F6F6;
    border-left-color: #fbfbfb03;
    border-right-color: rgba(251,251,251, 0.2);
    border-top: none;
    background-color: transparent;
}
.field__input::placeholder {
    color: #BDBDBD;
}
.modern__right-part__form-window__footer, .try-it__form-window__footer{
    height: 3.4375rem;
    text-align: center;
}
.modern__right-part__form-window__footer__button, .try-it__form-window__footer__button {
    display: block;
    background-color: #FF8B38;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: OpenSans, sans-serif;
    font-size: 0.9375rem;
    line-height: 3.4375rem;
    /*padding: 1.14rem 8.7695rem;*/
}
.modern__right-part__form-window__footer__button:hover, .try-it__form-window__footer__button:hover {
    background-color: #ff5a30;
    opacity: 0.8;
    color: #FFFFFF;
    text-decoration: none;
}
.try-it {
    display: none;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.social-media {
    height: 6.625rem;
    background-color: #FFFFFF;
    border-bottom: #b7b7b7 solid 1px;
    -webkit-box-shadow: 0px 11px 18px -6px rgba(183,183,183,1);
    -moz-box-shadow: 0px 11px 18px -6px rgba(183,183,183,1);
    box-shadow: 0px 11px 18px -6px rgba(183,183,183,1);
    margin-bottom: 3px;
}
.social-media__links {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.social-media__links__item{
    font-size: 3rem;
    color: #cccccc;
}
.social-media__links__item__link {
    color: #cccccc;
    text-decoration: none;
}
.social-media__links__item__link:hover {
    color: #000000;
}
.social-media__article{
    width: 37.25rem;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: center;
    align-content: center;
}
.social-media__article__header {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 1.25rem;
    margin-bottom: 5px;
}
.social-media__article__text {
    font-family: OpenSans, sans-serif;
    font-size: 0.875rem;
    color: #86878b;
    line-height: 1.2rem;
}
.tabs, .sub-list {
    height: 37.125rem;
    background-color: #FFFFFF;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
.tabs__left-part {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    width: 46.25rem;
}
.tabs__left-part__nav-link{
    padding: 3.3125rem 2.5rem;
    border-radius: 0!important;
    background-color: #333333;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 0.9375rem;
    text-transform: uppercase;
    color: #FFFFFF;
    border-bottom: #c7c7c7 solid 1px;
}
.tabs__left-part__nav-link:hover{
    background-color: #ff8b38;
    color: #ffffff;
}
.tabs__left-part__nav-link.border-none{
    border-bottom: none;
}
.tabs__left-part__nav-link.active{
    background-color: #ff8b38!important;
}
.tabs__left-part__nav-link.top-borderradius5{
    border-top-left-radius: 0.3125rem !important;
    border-top-right-radius: 0.3125rem !important;
}
.tabs__left-part__nav-link.bottom-borderradius5{
    border-bottom-left-radius: 0.3125rem !important;
    border-bottom-right-radius: 0.3125rem !important;
}
.nav--vertical-center {
    -webkit-align-self: center;
    align-self: center;
}
.tab-content {
    width: 83%;
    height: 22.75rem;
}
.tab-content__article{
    padding-left: 6.375rem;
    width: 100%;
    height: 100%;
}
.tab-content__article__header, .sub-list__header {
    padding-top: 0.625rem;
    margin-bottom: 3.125rem;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 1.25rem;
    color: #000000;
}
.tab-content__article__text, .sub-list__text {
    font-family: OpenSans, sans-serif;
    font-size: 0.875rem;
    color: #86878b;
    line-height: 1.3rem;
}
.tab-content__article__button {
    margin-top: 3.25rem;
    margin-bottom: 2rem;
    display: block;
    background-color: #ff8b38;
    width: 7.375rem;
    font-family: OpenSans, sans-serif;
    font-size: 0.9375rem;
    padding: 1.05rem 1.5rem;
    color: #ffffff;
    border-radius: 0.31rem;
}
.tab-content__article__text--top19{
    margin-top: 1.975rem;
}
.tabs__right-part{
    width: 23.75rem;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
}
.sub-list__left-part{
    width: 50%;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
}
.sub-list__right-part {
    width: 50%;
    padding-left: 6.375rem;
    padding-top: 6.75rem;
    height: 100%;
    padding-right: 3%;
    padding-bottom: 3rem;
}
.sub-list__header {
    padding-top: 0rem;
    margin-bottom: 1.875rem;
}
.sub-list__divider{
    margin-bottom: 1.875rem;
}
.sub-list__text {
    margin-bottom: 3.125rem;
}
.sub-list__list {
    margin-left: 3.6rem;
}
.sub-list__list li:nth-child(odd) {
    list-style-image: url("../img/cloud-upload-alt.png");
}
.sub-list__list li:nth-child(even) {
    list-style-image: url("../img/cloud-download-alt.png");
}
.sub-list__list > li{
    position: relative;
    margin-bottom: 3.75rem;
}
.sub-list__list__item {
    position: absolute;
    top: 0;
    left: 2.25rem
}
.sub-list__list__item__header {
    font-family: OpenSans, sans-serif;
    font-size: 0.875rem;
    color: #212121;
    margin-bottom: 0.8rem;
}
.sub-list__list__item__content {
    font-family: OpenSans, sans-serif;
    font-size: 0.875rem;
    line-height: 1.2rem;
    color: #86878B;
}
.divider--orange {
    background-color: #ff8b38;
}
.bg--f5 {
    background-color: #F5F5F5;
}
.bg_blue{
    background-color: blue;
}
@media screen and (max-width: 1180px){
    .center-part{
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;
    }
    .modern__left-part{
        min-width: 34rem;
    }
    .modern__right-part{
        -webkit-align-items: center;
        align-items: center;
    }
    .modern__right-part__form-window{
        margin-top: 0;
        margin-right: 0;
    }
    .tab-content {
        width: 80%;
    }
    .tab-content__article{
        padding-left: 3.375rem;
    }
    .sub-list__right-part {
        padding-right: 0;
    }
}
@media screen and (max-width: 980px){
    .tabs__left-part, .tabs__right-part {
        width: 100%;
    }
    .tabs {
        height: 100%;
        padding: 1% 0;
    }
    .center-part--flow-column {
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-justify-content: center;
        justify-content: center;
    }
    .tabs__right-part, .tabs__left-part {
        -webkit-justify-content: center;
        justify-content: center;
    }
    .tabs__left-part{
        margin-top: 2.5rem;
        order: 1;
    }
    .tabs__right-part {
        order: 0;
    }
    .social-media__article {
        width: 100%;
    }
    .social-media__links__item {
        font-size: 2rem;
    }
    .modern__left-part {
        min-width: auto;
    }
    .modern__left-part__logo {
        margin-top: 2rem;
    }
    .flow-md-column{
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
    }
    .sub-list {
        height: 100%;
    }
    .sub-list__left-part {
        width: 100%;
        -webkit-justify-content: center;
        justify-content: center;
    }
    .sub-list__right-part {
        width: 100%;
        padding-top: 0;
    }
}
@media screen and (max-width: 770px) {
    .modern__right-part{
        display: none;
    }
    .section__modern {
        height: 30rem;
    }
    .modern__left-part {
        width: 100%;
        text-align: center;
    }
    .modern__left-part__divider {
        margin-left: calc(50% - 2rem);
    }
    .try-it {
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
    }
    .social-media__article {
        display: none;
    }
    .social-media__links__item {
        font-size: 2rem;
    }
    .tabs__left-part{
        margin-top: 1rem;
    }
    .tab-content {
        height: 100%;
    }
    .tabs__left-part__nav-link {
        padding: 2.3125rem 2rem;
    }
    .tab-content__article {
        padding-left: 1rem;
    }
    .tab-content__article__header {
        padding-top: 0;
        margin-bottom: 1rem;
    }
    .tab-content__article__button {
        margin-bottom: 0;
        margin-top: 1rem;
    }
    .sub-list__right-part {
        padding-left: 0;
    }
}
@media screen and (max-width: 600px){
    .humburger {
        display: block;
    }
    .flex-sc-column {
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
    }
    .header {
        height: 100%;
    }
    .header__logo {
        height: 2.4rem;
    }
    .header__menu{
        width: 100%;
        height: auto;
        margin-right: 0;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
    }
    .header__menu--display-none{
        display: none;
    }
    .header__logo__img {
        top: 15%;
    }
    .header__menu__item {
        width: 100%;
    }
    .header__menu__item {
        line-height: 3.375rem;
    }
    .modern__left-part__title {
        margin-top: 1.188rem;
        margin-bottom: 1.5rem;
    }
    .modern__left-part__title__h1{
        font-size: 1.75rem;
        line-height: 2rem;
    }
    .modern__left-part__text {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }
    .social-media {
        height: 3rem;
    }
    .social-media__links__item {
        font-size: 1.3rem;
    }
    .tabs__left-part__nav-link {
        padding: 3rem 0.7rem;
    }
    .sub-list__left-part img{
        width: 90%;
        height: auto;
        margin-left: 5%;
    }
}
@media screen and (max-width: 390px) {
    .modern__left-part__text__p {
        font-size: 0.75rem;
    }
    .tabs__right-part img {
        width: 90%;
        height: auto;
        margin-left: 5%;
    }
    .tab-content__article__header{
        font-size: 1rem;
        margin-bottom: 0.75rem;
    }
    .tab-content__article__text{
        font-size: 0.8rem;
        line-height: 1rem;
    }
    .tab-content{
        width: 78%;
    }
    .footer__social__item{
        margin: 0.19rem 0.6rem;
    }
    .sub-list__list > li{
        margin-bottom: 4.75rem;
    }
}